html {
    font-size: 10px;
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #F59032;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #F8EE95;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color:#F59032;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

p, li, ol, a{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}